body {
    background-color: moccasin;
    margin: 0;
    padding: 0;
}
.add-image-form {
    border: 2px solid gray;
    display: inline-block;
    padding: 5px;
}
.add-image-form cite {
    font-variant: small-caps;
    font-weight: 700;
}
.add-image-form label {
    display: block;
}